.bg-header{
    background-color: #444444;
    color:#ffffff;
    padding: 30px 0 150px 0;
    h2{
        color: #aaaaaa;
        margin-bottom: 120px;
        margin-top: 0;
        letter-spacing: 1px;
        font-weight: 900;
    }
    p{
        padding: 0;
        font-weight: bold;
        font-size: 14px;
        font-weight: bold;
        margin: 0;
        letter-spacing: 1px;
    }
    h1{
        padding: 0 55px;
        margin:0 0 50px 0;
        font-size: 2.5em;
    }
    button{
        background-color: #888888;
        border-style: none;
        color: #ffffff;
        padding: 15px 30px;
        font-size: 10px;
        font-weight: bold;
        border-radius: 3px;
        cursor: pointer;
    }
  @media screen and (min-width: 640px){
    h1{
        padding: 0 500px;
        margin:0 0 50px 0;
        font-size: 3em;
    }
  }    
}


